@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{ font-family: 'Montserrat', sans-serif; background-color: #ffffff;}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    background-color:  #ffffff
    ;
    border-radius: 31px;
}

img{
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}

#logout:hover{
    color: red;
}

#signin:hover{
    color: #ffcc00;
}


#nav-weather{
    font-size: small;
}