/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
    /* background-image: url('http://getwallpapers.com/wallpaper/full/c/8/1/31043.jpg'); */
    background-image: url('./31043.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: auto; */
    height: 100%;
    /* width: 100vh; */
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    /* background-color: rgb(153,154,157,0.5) !important; */
    border-radius: 20px;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    /* color: #FFC312; */
    color: rgb(198, 65, 145);
    /* color: rgb(245,223,77); */
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    /* background-color: #FFC312; */
    background-color: rgb(198, 65, 145);
    /* background-color: rgb(245,223,77); */
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    /* background-color: #FFC312; */
    background-color: rgb(198, 65, 145);
    /* background-color: rgb(245,223,77); */
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.card-footer a{
    color: rgb(198, 65, 145);
    /* color: rgb(245,223,77); */
    text-decoration: none;
}

.card-footer a:hover{
    color: rgb(240, 243, 189);;
}

.card-test{
    background-color: rgb(240, 243, 189);
    color: rgba(0,0,0,0.5);
    /* color: rgb(153,154,157); */
}

/* ------------------------- */

.notes {
    border-top-right-radius: 42px
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 2px;
    background-color: rgb(91, 92, 91);
    border-radius: 50%;
    display: inline-block
}

.review-text {
    background: #e3e1eb
}

.info {
    color: #8c8b9a
}

.dot-red {
    background-color: red !important;
    height: 6px;
    width: 6px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 50%;
    display: inline-block
}

.overview {
    color: red
}

.formAddToDo{
    color: rgb(240, 243, 189);
}

.abcRioButtonContentWrapper {
    background-color: rgb(198, 65, 145);
    color: white;
}

.abcRioButtonIcon {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -1px;
}

@media only screen and (max-width: 575px) {
    .table {
        font-size: x-small;
    }
    .table .btn {
        font-size: x-small;
    }
    .textTodoList {
        font-size: larger;
    }
    .bgTodo1 {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .btn-mini::before .btn-sm{
        font-size: 10px;
    }
}